/*Spacing*/
$_desktop-gutter: 20px;
$_mobile-grid: 33vw;

/*Colors*/
$white: #ffffff;
$grey: #f2f2f2;
$grey-lightest: #f0f0f0;
$grey-lighter: #DDDDDD;
$grey-light: #B4B4B4;
$grey-dark: #444444;
$grey-darker: #222222;
$blue: #000321;
$yellow: #FECB2F;




/*Fonts size*/
$desktop-header: 66px;
$desktop-logo: 31.5px;
$desktop-title: 25px;
$desktop-gemaelde: 16px;
$desktop-fliestext: 16px;
$desktop-card-id: 10px;

$mobile-header: 60px;
$mobile-logo: 31.5px;
$mobile-title: 25px;
$mobile-gemaelde: 16px;
$mobile-fliestext: 16px;
$mobile-card-id: 12.5px;


/*Image sizes*/
$desktop-image-size: 140px;
$mobile-image-size: 33%;

/*Image Detail Page*/
$card-extended-height: 460px;
$card-extended-width: 940px;
